/* ========================================================================== */
/* DEPENDENCY
/* ========================================================================== */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


/* ========================================================================== */
/* DEFINITION
/* ========================================================================== */


:root {
    --color-ref: #292A2D;
    --padding-ref: 20px;
    --radius-ref: 15px;
}


/* ========================================================================== */
/* RESET
/* ========================================================================== */


*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ========================================================================== */
/* STYLE
/* ========================================================================== */


html,
body {
    height: 100%;
}

body {
    align-items: center;
    background: var(--color-ref);
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
}

body section.preview {
    background: #1e1f21;
    color: var(--color-ref);
    font-size: 18vw;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 40vw;
    z-index: -1;
}

body section.card {
    height: auto;
    max-width: 500px;
    min-width: 300px;
    width: 40vw;
    width: clamp(300px, 40vw, 600px);
}

body section.card .card__content {
    background: #fff;
    border-radius: var(--radius-ref);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .85);
    display: flex;
    height: auto;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding: var(--padding-ref);
}